body {
    padding: 0;
    margin: 0;
}

.winner {
    color: green;
}

.navigation {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    background: deepskyblue;
}


.navigation a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1em;
}

.navigation a:hover {
    background: #00b7f5;
}

.container {
    display: flex;
    text-align: center;
    margin: 0 25%;
    flex-flow: column nowrap;
}

.container > * {
    font-size: 1.5em;
    padding: 2px;
}

.container h1 {
    font-size: 3em;
}

.container h2 {
    font-size: 2em;
}

.header {
    font-family: sans-serif;

}

.buttons{
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
}

.buttons button {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #3498db;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    min-width: 0px;
    flex-flow: row nowrap;
}

.buttons button:active {
    outline: none;
}

.buttons button:focus {
    outline: none;
}

#scoreinput {
    border: 1px solid black;
}